@use "sass:map";
@use "@/styles/color";
@use "@/styles/type";

$animation-time: 300ms;

@mixin active($backgroundColor) {
  background-color: $backgroundColor;
  transition: background-color 0.1ms $animation-time - 1ms;
}

@mixin ripple($backgroundColor) {
  box-sizing: border-box;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: $backgroundColor;
  border-radius: 50%;
  pointer-events: none;
  animation: rippleAnimate $animation-time linear forwards;
}

@keyframes rippleAnimate {
  0% {
    width: 0px;
    padding-bottom: 0;
  }

  100% {
    width: 200%;
    padding-bottom: 200%;
  }
}

.button {
  box-sizing: border-box;
  position: relative;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background: none;
  overflow: hidden;

  @include type.button;
  color: map.get(color.$primary, "500");

  cursor: pointer;

  &.text {
    &:hover {
      background-color: map.get(color.$primary, "50");
    }
    &:active {
      @include active(map.get(color.$primary, "100"));
    }
    .ripple {
      @include ripple(map.get(color.$primary, "100"));
    }
  }

  &.outlined {
    border: 1px solid map.get(color.$primary, "500");

    &:hover {
      background-color: map.get(color.$primary, "50");
    }
    &:active {
      @include active(map.get(color.$primary, "100"));
    }
    .ripple {
      @include ripple(map.get(color.$primary, "100"));
    }
  }

  &.contained {
    color: color.$font-light;
    background-color: map.get(color.$primary, "600");
    &:hover {
      background-color: map.get(color.$primary, "500");
      box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
      transition: box-shadow $animation-time;
    }
    &:active {
      @include active(map.get(color.$primary, "300"));
    }
    .ripple {
      @include ripple(map.get(color.$primary, "300"));
    }
  }
}

.buttonText {
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}
