$primary: (
  "900": #0000d6,
  "800": #1c00db,
  "700": #3d00e0,
  "600": #5300e8,
  "500": #6002ee,
  "400": #7e3ff2,
  "300": #9965f4,
  "200": #b794f6,
  "100": #d4bff9,
  "50": #efe5fd,
);
$error: #b00020;
$font-light: #ffffff;
$font-dark: #000000;
$background: #ffffff;
