// bootstrap zindex: https://getbootstrap.com/docs/5.0/layout/z-index/

$dropdown: 1000;
$sticky: 1020;
$fixed: 1030;
$modal-backdrop: 1040;
$offcanvas: 1050;
$modal: 1060;
$popover: 1070;
$tooltip: 1080;
