.ripple {
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  animation: rippleAnimate 300ms linear forwards;
}

@keyframes rippleAnimate {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.rippleSibilingNode {
  position: relative;
  z-index: 1;
}
