$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;

@mixin text-xs {
  font-size: $font-size-xs;
  line-height: 16px;
}

@mixin text-sm {
  font-size: $font-size-sm;
  line-height: 20px;
}

@mixin text-base {
  font-size: $font-size-base;
  line-height: 24px;
}

@mixin text-lg {
  font-size: $font-size-lg;
  line-height: 28px;
}

@mixin text-xl {
  font-size: $font-size-xl;
  line-height: 32px;
}
