@use "sass:map";
@use "@/styles/color";
@use "@/styles/type";

.container {
  width: 450px;
  max-height: 650px;

  display: flex;
  flex-direction: column;

  padding: 20px;
  padding-bottom: 8px;

  border-radius: 8px;
  background-color: color.$background;
}

.textContainer {
  flex: 1;

  .title {
    @include type.headline6;
    margin-bottom: 12px;
  }

  .supportText {
    @include type.body1;
    color: map.get(color.$grey, "700");
  }
}

.buttonContainer {
  margin-top: 28px;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}
