@use "sass:map";
@use "color";
@use "type";

$control-height: 36px;
$control-min-width: 250px;
$control-padding-x: 12px;

$font-size-sm: type.$font-size-sm;
$font-size-base: type.$font-size-base;

$radius: 6px;

$font-color: color.$gray-800;
$font-color-error: color.$red-600;
$font-color-disabled: color.$gray-400;

$border-color: color.$gray-300;
$border-color-active: color.$indigo-600;
$border-color-error: color.$red-600;

$outline-color-active: color.$indigo-600;
$outline-color-error: color.$red-600;

$background-color: color.$background-light;
$background-color-active: color.$indigo-600;
$background-color-disabled: color.$gray-100;

$placeholder-color: color.$gray-400;

$icon-color: color.$gray-400;
$icon-color-active: color.$gray-500;
